html{
	font-size: 20px;
	font-family: 'Indie Flower',sans-serif;
	background-color: #D5998A;
}
h1{
	margin:0;
	padding: 10px 0;
	color: #FF9500;
	text-shadow: 3px 3px 1px orange;
	font-size: 60px;
	text-align: center;
}
p,li{
	color: orange;
	font-size: 22px;
	line-height: 2;
	letter-spacing: 1px;
}
body{
	width: 1500px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
	background-color: #00539F;
	border: 5px solid black;
}
img{
	width: 1400px;
	display: block;
	margin: 0 auto;

}